<main class="p-5">
    <div class="card p-5">
        <p id="test">
            Hello world! Hello world! Hello world! Hello world! Hello world!</p>
        <p hidden id="test">
            Hello world hidden!</p>
        <p id="test">
            Hello world!</p>

        <span>Test</span>
        <span class="span-b">Test</span>
    </div>

    <pre>		tabs</pre>

    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>

    <div style="padding: 50px 0px 50px 100px; background: gray; height: 100px;">
        <span>inline</span>
        <span>inline</span>

        <span class="block">Inline-block inline</span>
    </div>


</main>

{{!-- <main class="p-5">
    <div class="card p-5">
        <h1>Test text! 11 22 33 Test text! Tesst texxt!</h1>
        <p class="display-6">Hello world! <br> fficffonffl
            wworlld <br> 1st 2nd 4th 012/34 56/789 <br> 0123456789 Hello world!</p>

    </div>
</main> --}}