:root {
  --text-color: green;
  --space-medium: 24px;
}

.page {
  background: #ffffff;
  padding: 0 15px;
}

.page_content {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  padding: var(--space-medium);

  border-bottom: 1px solid #dee2e6;
}

.logo {
  font-size: 17px;
}

.divider {
  margin: 0;
  height: 1px;
  background: #dee2e6;
}

.nav {
  display: block;
}

.nav_link {
  color: #343a40;
  font-size: 16px;
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: underline;
  /* color: blue; */

  opacity: 50%;
}

.nav_vertical > .nav_link {
  display: block;
}

.nav_inline > .nav_link:not(:last-child) {
  margin-right: var(--space-medium);
}

.nav_vertical > .nav_link:not(:last-child) {
  margin-bottom: 12px;
}

.header_nav_right {
  margin-left: auto;
  width: fit-content;
}

.page_block:not(:last-of-type) {
  margin-bottom: 80px;
}

.footer {
  padding: var(--space-medium) 0;

  border-top: 1px solid #dee2e6;
}

.footer_copyright {
  font-size: 14px;
  color: #6c757d;

  display: block;

  margin-top: 12px;
}

.footer_title {
  font-size: 20px;
  color: var(--text-color, #212529);

  display: block;
  margin-bottom: 12px;
}

.hero_title {
  font-size: 56px;
  color: var(--text-color, #212529);
  font-weight: 500;
  margin-bottom: 12px;
  text-align: center;
}

.hero_text {
  color: var(--text-color, #212529);
  font-size: 20px;
  text-align: center;
  max-width: 585px;
  margin: 0 auto;

  line-height: 150%;
}

.plans_card:not(:last-of-type) {
  margin-right: var(--space-medium);
}

.card-header {
  padding: 12px;
  text-align: center;
  font-size: var(--space-medium);
  color: var(--text-color, #212529);
}

.card-body {
  padding: var(--space-medium);
}

.card_price_amount {
  font-size: 40px;
  color: var(--text-color, #212529);
}

.card_price_duration {
  font-size: 29px;
  color: #6c7570;

  vertical-align: top;
}

.card_block {
  text-align: center;
}

.card_block:not(:last-of-type) {
  margin-bottom: var(--space-medium);
}

.card_description_item {
  font-size: 16px;
  color: var(--text-color, #212529);

  display: block;
}

.card_description_item:not(:last-of-type) {
  margin-bottom: 12px;
}

.card_button {
  display: block;
  width: 100%;
  font-size: 19px;
  padding: 9px;
}

.card {
  border: 2px solid blueviolet;

  border-radius: 15px;
}
.card:hover {
  outline: 2px solid blueviolet;
  outline-offset: 5px;

  box-shadow: 5px 5px 10px 1px rgba(55, 2, 66, 0.9);

  cursor: pointer;

  opacity: 0.5;
}

.btn {
  border-radius: 15px;
}

.btn:hover {
  box-shadow: 5px 5px 10px 1px rgba(25, 112, 233, 0.9);
}

h1 {
  text-shadow: 0px 0px 10px rgba(233, 35, 13, 0.9);
}

/* .plans_card:nth-child(2) {
  display: none;
} */

.plans_card:nth-child(2) {
  visibility: hidden;
}

.hero_text {
  background: gray;
  /* 
  width: 200px; */

  hyphens: manual;

  /* overflow: auto;

  resize: both; */

  word-spacing: 10px;
}

.overflow {
  overflow-wrap: break-word;
}

.hero_title {
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 12px;
  height: 65px;
  overflow: hidden;
  text-overflow: ellipsis;

  white-space: nowrap;
}

/* .hero_title {
  /* block-size: 100px;
  writing-mode: vertical-lr;

  inline-size: 150px;
  writing-mode: horizontal-tb; */

/* border-block: 1rem dashed red;
  writing-mode: horizontal-tb;
  direction: rtl; */
/* 
  border-block-end: 1rem solid;
  writing-mode: horizontal-tb; */

/* inset-inline: 5px 20px; */

/* 
  padding-inline: 5% 10%;
  writing-mode: horizontal-tb; */

/* 
  margin-block: 5% 20%;
  writing-mode: horizontal-tb; */

/* max-inline-size: 240px; */

/* text-decoration-skip-ink: auto; */

/* font-variation-settings: 'wght' 75; */

/* line-break: loose; */

/* text-size-adjust: 150%;

  text-underline-offset: -0.5rem; 
}  */

/* body {
  background: radial-gradient(
    41.16% 41.16% at 50% 50%,
    #a078e1 0%,
    rgba(217, 217, 217, 0) 100%
  );
} */

/* body {
  background-image: url('/img/test.png');
  background-repeat: round;
} */

.page {
  /* background-image: url('/img/test2.jpg');

  background-repeat: no-repeat;

  background-position: center;

  background-attachment: fixed;

  background-size: cover; */
}

/* .hero_text {
  background-image: url('/img/test2.jpg');

  border: 20px solid transparent;
  padding: 40px;
  color: transparent;

  background-clip: text;
  -webkit-background-clip: text;
} */

/* .hero_text {
  background-image: url('/img/test2.jpg');

  border: 20px solid transparent;
  padding: 40px;
  color: green;

  background-origin: border-box;
  background-repeat: no-repeat;
} */

.hero_text {
  padding: 40px;
  color: green;

  border-image-source: url('/img/test2.jpg');
  border-image-width: 20% 10%;
  border-image-slice: 10%;

  border-image-outset: 50px;
}

/* Робота з списками та таблицями
list-style-type — це CSS властивість, яка використовується для встановлення виду маркера списку
display — це CSS властивість, яка визначає відображення елемента на веб-сторінці
list-style-position — це CSS властивість, яка визначає дебудуть розміщуватись маркери списку відносно тексту
list-style-image — це CSS властивість, яка встановлює зображення для маркера списку.
table-layout — це CSS властивість, яка визначає, як браузер повинен відображати таблицю і розподіляти простір між стовпцями та рядками
border-collapse — це CSS властивість, яка використовується для задання того, чи повинні об'єднуватися рамки таблиці в одну рамку, чи ні.
border-spacing — це CSS властивість, яка встановлює відстань між рамками таблиці
caption-side — це CSS властивість, яка використовується для визначення положення заголовка таблиці
empty-cells — це CSS властивість, яка визначає відображення границі комірок, в яких немає контенту.
opacity — це CSS властивість, яка використовується для зміни прозорості елемента
сontent — це CSS властивість, яка використовується для вставки вмісту псевдо елементів ::before та ::after
сalc() — це CSS функція, яка дозволяє виконувати арифметичні операції в межах CSS властивості
var() — це CSS функція, яка використовується для визначення значення CSS змінних.
(пишемо зверху по пріорітетності, замінюємо там де багато повторюваних властивостей, а міняти за потребою остається тільки в одному місці)

:root {
  --text-color: green;
  --space-medium: 24px;
}
*/

.card_block {
  /* list-style-type: upper-alpha; */
  list-style-position: inside;

  /* list-style-image: url('/img/test.png'); */
  list-style-image: linear-gradient(
    to bottom right,
    blue,
    red
  );

  padding: 0;
}

.card_description_item {
  display: list-item;
}

/* .table tr {
  border: 1px solid rgb(4, 32, 4);
} */

.table tr td {
  border: 1px solid #4f6983;
  border-bottom-color: red;
  border-right-color: purple;
}

.table {
  table-layout: fixed;
  width: 600px;

  border-collapse: unset;

  border-spacing: 20px 10px;

  caption-side: top;

  empty-cells: hide;
}

/*вміст*/

/* .nav_link ::after {
  content: open-quote;
} */

.nav_link::before,
.nav_link::after {
  /* content: url('/img/test2.jpg'); */

  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;

  background-image: url('/img/test2.jpg');
}

.nav_link::before {
  margin-right: 15px;
}

.nav_link::after {
  margin-left: 15px;
}

/*Калькулювання*/
.calc {
  width: 600px;

  margin: 0;

  margin-left: calc(50% - (600px / 2));
}

/*Зміннa. працює в нових браузерах вона нова*/
